html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Helvetica, sans-serif"; }

.container {
  width: 100%;
  height: 100%; }

.row {
  margin: 0; }

.board {
  height: 100%; }
  .board > div {
    display: block;
    width: 33.33333%;
    height: 100%;
    float: left; }
  .board div.done {
    display: none;
    width: 100%;
    float: none;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); }
    .board div.done h2 {
      color: white;
      font-size: 4em;
      margin-top: 30%; }
  .board h3 {
    text-align: center; }
  .board input {
    width: 80%;
    display: block;
    margin: 20px auto 0; }

.combined > div {
  height: 50%;
  display: block; }
