// $yellow: hsl(50, 100, 50); //#FFD300;
// $blue: hsl(197, 100, 37); //#0088BF;
// $green: hsl(158, 100, 32); //#00A368;

$yellow: #FFD300;
$blue: #0088BF;
$green: #00A368;

html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica, sans-serif";

  background-color: black;
}
